<nav>
    <ul>
        <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Inicio</a></li>
        <li><a href="/about" class="<%= path === '/about' ? 'active' : '' %>">Acerca</a></li>
        <li><a href="/products" class="<%= path === '/products' ? 'active' : '' %>">Productos</a></li>
    </ul>
</nav>