<!DOCTYPE html>
<html>
<head>
    <title>Contacto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/about">Acerca de</a>
        <a href="/services">Servicios</a>
        <a href="/contact">Contacto</a>
        <a href="/formulario">Formulario</a>
    </nav>
    <h1>Contacto</h1>
    <p>Puedes encontrarnos en:</p>
    <address>
        Epigmenio Gonzalez<br>
        Querétaro, Querétaro<br>
        Teléfono: (+52) 442-721-2793<br>
        Email: DevelopEngineer@gmail.com
    </address>
</body>
</html>